html, *, *::after, *::before {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Calibri, 'Trebuchet MS', sans-serif;
  
}

button {
  background-color: #3882F6;
  border: 2px solid #E5E7EB;
  padding: 8px 35px;
  border-radius: 5px;
  font-weight: 900;
  font-size: 1.05rem;

}

.hero-text button {
  border: none;
  margin-top: 16px;
}

nav {

  display: flex;
  justify-content: space-between;
  width: 830px;
}

header, .cta-container, footer, button {
  color: #E5E7EB;
}

header {
  background: rgb(31,41,55);
  background: linear-gradient(150deg, rgba(31,41,55,1) 0%, rgba(9,9,121,1) 35%, rgba(7,56,152,1) 70%, rgba(31,146,170,1) 100%);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: F9FAF8;
  font-weight: 800;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h3 {
  text-align: center;
}

main > h3 {
  padding-top: 120px;
  font-size: 36px;
  color: #1f2937;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.hero-container {
  display: flex;
  gap: 30px;
  height: 300px;
  align-items: center;
  justify-content: center;
  width: 830px;
}

.hero-text {
  width: 400px;
  font-size: 18px;
}

.hero-image {
  background-color: #7485a5;
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.info-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: center;
  align-items: center;
  padding: 40px 36px 120px 36px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 8px;
}

.card-info {
  text-align: center;
}

.card-pic {
  height: 150px;
  border: 3px solid blue;
  border-radius: 5px;
  flex-shrink: 0;
}

.quote-container {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  padding: 120px 36px;

}

.quote {
  width: 700px;
}

.quote-author {
  margin-top: 10px;
  display: block;
  text-align: right;
  font-size: 26px;
  font-weight: 600;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px;
  height: 400px;
}

.cta-box {
  display: flex;
  height: 150px;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882F6;
  gap: 16px;

}

.cta-text {
  flex: 2 1 1;
}

footer {
  display: flex;
  flex: 1;
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  padding: 36px;
}